<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEAP SHIRT COMPANY</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/template/test.html">LEAP SHIRT COMPANY</a>
        </div>
        <div class="nav-items">
            <a href="#"><img src="/static/assets/user.png" alt=""></a>
            <a href="#"><img src="/static/assets//cart.png" alt=""></a>
        </div>
    </nav>
                                <!--------------------------  
                                   floating whatsapp button  
                                ---------------------------->
    <div class="float-whatsapp">
        <a href="https://web.whatsapp.com/send?phone=+918305050342" class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
        </a>
    </div>
                                <!---------------------- 
                                    main section 
                                ------------------------>
    <main>
        <div class="card-container">
            <a href="">
                <div class="card">
                    <div class="card-img">
                        <img src="https://thehouseofrare.com/cdn/shop/products/IMG_0344_44cf60cd-437c-423d-be52-81e4d6e14634_1200x.jpg?v=1680068751" alt="">
                    </div>
                    <div class="card-content">
                        <div class="product-detail">
                            <p>WHITE FORMAL</p>
                            <p>Elegance in pure white attire</p>
                            <span class="discount-price">₹3999</span>
                            <!-- <span class="real-price">₹1999</span> -->
                            <!-- <span class="discount-percentage">50%</span> -->
                        </div>
                        <button id="card-content-btn">Add to Cart<i class="fa-sharp fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="card">
                    <div class="card-img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbRjcyTgGZX1HQeHDAdAvOm8qAq_lS6PpJkg&usqp=CAU" alt="">
                    </div>
                    <div class="card-content">
                        <div class="product-detail">
                            <p>UNIVERSITY WHITE</p>
                            <p>Effortless style crisp in white</p>
                            <span class="discount-price">₹2999</span>
                            <!-- <span class="real-price">₹1999</span> -->
                            <!-- <span class="discount-percentage">50%</span> -->
                        </div>
                        <button id="card-content-btn">Add to Cart<i class="fa-sharp fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="card">
                    <div class="card-img">
                        <img src="https://thehouseofrare.com/cdn/shop/products/IMG_0006_70db7a58-00e6-4719-aa6c-b747191e1ff6_1200x.jpg?v=1680171206" alt="">
                    </div>
                    <div class="card-content">
                        <div class="product-detail">
                            <p>BLACK FORMAL</p>
                            <p>Elegance in pure black attire</p>
                            <span class="discount-price">₹3999</span>
                            <!-- <span class="real-price">₹1999</span> -->
                            <!-- <span class="discount-percentage">50%</span> -->
                        </div>
                        <button id="card-content-btn">Add to Cart<i class="fa-sharp fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="card">
                    <div class="card-img">
                        <img src="https://www.snitch.co.in/cdn/shop/files/Untitled-3_7ab9a7e2-a0b4-4c2e-85c5-acc8d8326099.jpg?v=1685023571&width=1080" alt="">
                    </div>
                    <div class="card-content">
                        <div class="product-detail">
                            <p>UNIVERSITY BLACK</p>
                            <p>Effortless style crisp in black</p>
                            <span class="discount-price">₹2999</span>
                            <!-- <span class="real-price">₹1999</span> -->
                            <!-- <span class="discount-percentage">50%</span> -->
                        </div>
                        <button id="card-content-btn">Add to Cart<i class="fa-sharp fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </a>
        </div>
    </main>
</body>
</html>